<div class="container">
    <div class="row">
        <h1>你想對誰說幹話?</h1>
        <div class="col-sm-12">
            <form action="/genarate"></form>
            <div class=" col-sm-4">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
                    alt="工程師" sizes="" srcset="">
                <input type="checkbox" name="engineer">
            </div>

            <div class=" col-sm-4">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
                    alt="設計師" sizes="" srcset="">
                <input type="checkbox" name="designer">
            </div>

            <div class=" col-sm-4">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
                    alt="創業家" sizes="" srcset="">
                <input type="checkbox" name="entrepreneur">
            </div>
            <button type="submit">產生幹話</button>
            </form>
            <input type="textarea">


        </div>
    </div>
</div>